#sliders1s1 {
	text-align: center;
	margin: 0 auto;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#sliders1s1 label, #sliders1s1 a {
	color: #444444;
	cursor: pointer;
	text-decoration: none;
}
#sliders1s1 label:hover, #sliders1 a:hover {
	color: #000 !important;
}
#sliders1 label, #sliders1 #active1, #sliders1 img { -moz-user-select:none;-webkit-user-select:none; }

#sliders1 input {
	display: none;
}

#slide1:checked ~ #slidesrs .inner1 { margin-left:0; }
#slide2:checked ~ #slidesrs .inner1 { margin-left:-100%; }
#slide3:checked ~ #slidesrs .inner1 { margin-left:-200%; }
#slide4:checked ~ #slidesrs .inner1 { margin-left:-300%; }
#slide5:checked ~ #slidesrs .inner1 { margin-left:-400%; }


#overflow1 {
	width: 100%;
	overflow: hidden;
}

#sliders1 article img {
	width: auto;
	max-width:auto !important;
	padding: 0px 20px 0px 20px;
}

#slidesrs .inner1 {
	width: 500%;
	line-height: 0;
}

#slidesrs article {
	width: 20%;
	float: left;
}

/* sliders1 Styling */

/* Control Setup */

#controls1 {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#controls1 label { 
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.7;
}

#active1 {
	margin: 23% 0 0;
	text-align: center;
}

#active1 label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active1 label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls1 label:hover {
	opacity: 1;
	border: solid 1px #666;
}

#slide1:checked ~ #controls1 label:nth-child(2), 
#slide2:checked ~ #controls1 label:nth-child(3), 
#slide3:checked ~ #controls1 label:nth-child(4), 
#slide4:checked ~ #controls1 label:nth-child(5), 
#slide5:checked ~ #controls1 label:nth-child(1) {
	background: url('http://img140.imageshack.us/img140/7481/nextfy.png') no-repeat;
	float: right;
	margin: 0 -70px 0 0;
	display: block;
}


#slide1:checked ~ #controls1 label:nth-child(5),
#slide2:checked ~ #controls1 label:nth-child(1),
#slide3:checked ~ #controls1 label:nth-child(2),
#slide4:checked ~ #controls1 label:nth-child(3),
#slide5:checked ~ #controls1 label:nth-child(4) {
	background: url('http://img7.imageshack.us/img7/152/prevrt.png') no-repeat;
	float: left;
	margin: 0 0 0 -70px;
	display: block;
}

#slide1:checked ~ #active1 label:nth-child(1),
#slide2:checked ~ #active1 label:nth-child(2),
#slide3:checked ~ #active1 label:nth-child(3),
#slide4:checked ~ #active1 label:nth-child(4),
#slide5:checked ~ #active1 label:nth-child(5) {
	background: #333;
	border-color: #333 !important;
}

/* Info Box */

#sliders1 .info {
	line-height: 20px;
	margin: 0 0 -150%;
	position: absolute;
	font-style: italic;
	padding: 30px 30px;
	opacity: 0;
	color: #000;
	text-align: left;
}

#sliders1 .info h3 {
	color: #333;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 22px;
	font-style: normal;
}

/* sliders1 Styling */

#slidesrs {
	margin: 45px 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #fff;
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}


/* Animation */

#slidesrs .inner1 {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#sliders1 {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#controls1 label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
	#sliders1 #controls1 {
		margin: -25% 0 0 15%;
		width: 70%;
		height: 50px;
	}

	#sliders1 #controls1 label {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
#slide1:checked ~ #slidesrs article:nth-child(1) .info,
#slide2:checked ~ #slidesrs article:nth-child(2) .info,
#slide3:checked ~ #slidesrs article:nth-child(3) .info,
#slide4:checked ~ #slidesrs article:nth-child(4) .info,
#slide5:checked ~ #slidesrs article:nth-child(5) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}

#sliders1 .info, #controls1, #slidesrs, #active1, #active1 label, .info h3, .desktop, .tablet, .mobile {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}


/* Responsive Styling */



@media only screen and (max-width: 850px) and (min-width: 450px) {



	#sliders1 #slidesrs {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		display: none;
	}

	#sliders1 #active1 {
		margin: 22% 0 0;
	}


}



@media only screen and (max-width: 450px) {

	#sliders1 #controls1 {
		margin: -28% 0 0 24%;
		width: 50%;
		height: 50px;
	}

	#sliders1 #active1 {
		margin: 23% 0 0;
	}

	#sliders1 #slidesrs {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#sliders1 #slidesrs .info {
		opacity: 0 !important;
	}

	#sliders1 #controls1 label {
		-moz-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-o-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
	}


}


