azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4F24 

@charset "utf-8";

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?nwmkrn');
	src:url('../fonts/icomoon.eot?#iefixnwmkrn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nwmkrn') format('woff'),
		url('../fonts/icomoon.ttf?nwmkrn') format('truetype'),
		url('../fonts/icomoon.svg?nwmkrn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container
	.myface
		img
			width 300px
			height 300px
			border-radius 50%
			top 20px
			right 10px
			position relative
			z-index 2