@charset "utf-8";

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?nwmkrn');
	src:url('../fonts/icomoon.eot?#iefixnwmkrn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nwmkrn') format('woff'),
		url('../fonts/icomoon.ttf?nwmkrn') format('truetype'),
		url('../fonts/icomoon.svg?nwmkrn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'botoncitos';
	src:url('../fonts/fonts1/icomoon.eot?nwmkrn');
	src:url('../fonts/fonts1/icomoon.eot?#iefixnwmkrn') format('embedded-opentype'),
		url('../fonts/fonts1/icomoon.woff?nwmkrn') format('woff'),
		url('../fonts/fonts1/icomoon.ttf?nwmkrn') format('truetype'),
		url('../fonts/fonts1/icomoon.svg?nwmkrn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	text-align: center;
	background: #3A4357 !important;
}
footer{
	background: #A3A3A3;
	color: #fff;
	padding:7px;
	text-align: center;
	width: 100%;
	opacity: 0.7;
	z-index: 50;
	position: absolute;
	bottom: 0;
	position: fixed;
}

/*===== PANTALLA 1 =====*/

.container{
	text-align: center;
}

.vacio{
	left: 0;
	width: 100%;
	height: 1050px;
	background: #fff;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

h1{
	font-size: 3em !important;
	color: #666 !important;
}
.guia{
	font-size: 1.1em;
	color: #000;
}
.myface{
	margin: 20% 0px 50px 0px
}
.myface img{
	width :200px;
	height:200px;
	border-radius: 50%;
	top: 20px;
	right: 10px;
	position: relative;
	z-index: 2;
}

/* Menu*/
nav{
	position: fixed;
	top:0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #2d2d2d;
	z-index: 3
}

ul{
	margin-top:150px;
	list-style: none;
	display: block;
}

li{
	width: 100%;
	height:50px;
	border-bottom: 1px solid #323232;
	overflow: hidden;
}

p.menu{
	position: relative;
	padding:16px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.2em;
	-webkit-transition: opacity .2s;
}

div.barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
}

li:hover div.barra{
	width:155px;
}

input#buscador{
	width:285px;
	height:50px;
	background-color: #3c3c3c;
	outline: none;
	border: 0px;
	color: white;
	font-size: 1.2em;
	text-align: right;
	padding-right:15px;
	background-image: url(../imagenes/search.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	-webkit-transition: background-position .2s;
}

input#buscador:focus{
	background-position: 300px 15px;
}

::-webkit-input-placeholder{
	color: #e2e2e2;
	text-align: right;
	opacity: .1;
}

li:hover p.menu{
	opacity: 1;
}

/*===== PANTALLA 2 =====*/

h2{
	color: #fff !important;
	margin-left:-40px;
	padding-bottom: 50px;
	padding-top: 50px; 
	font-size: 4em !important;
	text-align: center;
}
.informacion{
	left: 0;
	width: 100%;
	background: #000;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}


.menu2 li{  
	display:block;
	padding:5px 0px 50px 0px;
	margin:0px 10px 0px -32px;
	font-size:18px;
	color:#fff;
}

.titulo1{
	background: #fff;
	color:#000 !important;
}
.menu2 li a{
	color: #fff;
 	text-decoration none
 	border-bottom:solid 1px #fff;
}

.menu2 li:last-child{
			border-bottom: none;}
/*=== Aqui empieza los iconos===*/
.team1:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e611";
}
.team2:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e605";
}
.team3:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e606";
}
.team4:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.team5:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e608";
}
.item1:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e609";
}
.item2:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e604";
}
.item3:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e61b";
}
.item4:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e61c";
}
.item5:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item6:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item7:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item8:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e61d";
}
.item9:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item10:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item11:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item12:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item13:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item14:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item15:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e60e";
}
.item16:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e61a";
}
.item17:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}
.item18:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e617";
}
.item19:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e616";
}
.item20:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e615";
}
.item21:before	{
	font-family:"iconitos";
	font-size:20px;
	content:"\e607";
}

/*===== PANTALLA 3 =====*/

h3{
	padding: 50px 0px 20px 0px !important;
	font-size: 3em !important;
}
.portafolio{
	width: 100%;
	height: 3200px;
	background: #333;
	position: absolute;
	top:2700px;
	left:0px;
	color:#fff;
}
.imagen{
	margin-left: 23%;
	margin-bottom: 25px; 
	width: 700px;
	height: 400px;
	background-image: url(../imagenes/html51.jpg);
	background-size: 100%;
}
.it1{
	margin-left: 23%;
	margin-bottom: 25px; 
	width: 700px;
	height: 400px;
	background-image: url(../imagenes/acurstin.png);
	background-size: 100%;
}
.it2{
	margin-left: 23%;
	margin-bottom: 25px; 
	width: 700px;
	height: 400px;
	background-image: url(../imagenes/movil.png);
	background-size: 100%;
}
.it3{
	margin-left: 23%;
	margin-bottom: 25px; 
	width: 700px;
	height: 400px;
	background-image: url(../imagenes/soawish.png);
	background-size: 100%;
}
.it4{
	margin-left: 23%;
	margin-bottom: 25px; 
	width: 700px;
	height: 400px;
	background-image: url(../imagenes/Frontend.png);
	background-size: 100%;
}
.it5{
	margin-left: 23%;
	margin-bottom: 25px; 
	width: 700px;
	height: 400px;
	background-image: url(../imagenes/fundacion.png);
	background-size: 100%;
}
.info{
	overflow: hidden;
	position: absolute;
	width: 700px;
	height: 400px;
	background-color: rgba(31, 31, 31, 0.9);
	-webkit-transition: opacity 0.2s;
	opacity: 0;
}

.imagen:hover .info{
	opacity: 1;
}

.info3{
	font-size: 18px;
    position: relative;
    color: #000;
    padding: 7px 14px;
    text-align: center;
    margin-top: 12%;
    margin-left: -700px;
    -webkit-transition: margin 0.5s;
    display: inline-block;
	text-decoration: none;
	background-color: #DB7F08;
	text-transform: uppercase;
	-webkit-box-shadow: 0 0 2px #333;
	-moz-box-shadow: 0 0 2px #333;
	box-shadow: 0 0 2px #333;
}
.imagen:hover .info3{
	margin-top: -20px;
	margin-left: 0px;
}
.headline{
	font-size: 35px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    margin-top: 12%;
    margin-left: -700px;
    -webkit-transition: margin 0.5s;
}
.info2{
  	font-size: 18px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    margin-top: 15%;
     margin-left: -700px;
    -webkit-transition: margin 0.5s;
}
.imagen:hover .headline{
	margin-top: 12%;
	margin-left: 0px;
}
.imagen:hover .info2{
	margin-top:-20px;
	margin-left: 0px;
}


/*===== PANTALLA 4 =====*/

form{
	font-size: 18px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    margin: 0px 25% 0px 25%;
}
label{
	margin: 0px -40px 0px 0px;
}
input{
	color:#000 !important;
	margin: 10px 0px 10px 50px !important;
}
textarea{
	color:#000 !important;
	margin: 10px 0px 10px 50px !important;
}
.formulario input[type=text], input[type=email] 
{
	width: 350px;
	text-align: left;
}

.formulario input[type=image], input[type=reset]
{
	border: none;
	position: relative;
	left:340px;
}
button{
	background: none;
	border: none;
	color: #fff !important;
}
.formulario
{
	text-align: center;
}

.grupo
{
	
}

h5
{
	font-size: 4em !important;
	color:#fff!important;
}
.boton5{
}
.boton5:before{
	font-family:"botoncitos";
	font-size:25px;
	content:"\e60d";
	color: red;
	margin: 0px 10px 0px 0px;
}
.boton4:before{
	font-family:"botoncitos";
	font-size:25px;
	content:"\e60e";
	color: green;
	margin: 0px 10px 0px 0px;
}
.horario{
	color:#fff;
}
.horario:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e603";
}
.correo5{
	color:#fff;
}
.correo5:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e602";
}
.telefono{
	color:#fff;
}
.telefono:before{
	font-family:"iconitos";
	font-size:20px;
	content:"\e604";
}

@media screen and (max-width: 768px){
	.menu5{
		display: none;
	}
	.imagen{
		margin: auto;
		margin-bottom: 25px; 
		width: 270px;
		height: 150px;
		text-align: center;
	}
	.headline{
		font-size: 17px;
	}
	.info2{
	  	font-size: 10px;

	}
.info3{
	font-size: 15px;
}
.imagen:hover .headline{
	margin-top: 2%;
}
	.info{
		width: 270px;
		height: 150px;
	}
	.portafolio{
		width: 100%;
		height: 1400px;
		background: #333;
		position: absolute;
		top:2680px;
		color:#fff;
		text-align: center;
	}
	form{
		font-size: 18px;
	    position: relative;
	    color: #fff;
	    padding: 10px 20px 20px;
	    text-align: center;
	    margin: 0;
	}
}

	